<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Our Address</h2>
                            <p><i class="fa fa-map-marker-alt"></i>{address}</p>
                            <p><a href="" data-phone><i class="fa fa-phone-alt"></i>{phone}</a></p>
                            <p><i class="fa fa-envelope"></i>{email}</p>
                            <div class="footer-social">
                                <a target=_blank href="" data-facebook><i class="fab fa-facebook-f"></i></a>
                                <a target=_blank href="" data-instagram><i class="fab fa-instagram"></i></a>
                                <a target=_blank href="" data-google><i class="fab fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Open Hours</h2>
                            <a href="">{time_1}</a>
                            <a href="">{time_2}</a>
                            <a href="">{time_3}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>Appointment</h2>
                    <p>
                        Our gift certificates are available for purchase in store.<br>
                        Whether you need a gift for a family member, friend, or co-worker, our gift certificates would be the perfect gift for any occasion.
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Book An Appointment">
                        <a target=_blank href="" data-booking><button class="btn custom-btn">Book Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright &copy; <a href="#">AN NAILS & SPA</a>, All Rights Reserved.</p>
            <p>Designed By <a href="https://lldtek.com/">LLDTEK</a></p>
        </div>
    </div>
</div>
        <!-- Footer End -->